{% extends "base.html.twig" %}


{% block body %}

    <div class="content-container">
        <div style="margin-bottom: 20px;" class="">
            <h5>Add question pattern <a href="{{app.request.headers.get('referer')}}"><button type="button" class="btn btn-secondary return-button"><i class="bi bi-arrow-return-left mx-2"></i>Return</button></a></h5>
        </div>

        <div class="form-container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success btn-lg" name="submit">Save</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}