{% extends "base.html.twig" %}


{% block body %}

    <div class="content-container">
        <div style="margin-bottom: 20px;" class="row">
            <div class="col-10">
                <h5>Edit question category</h5>
            </div>
            <div class="col-2">
                <a href="{{app.request.headers.get('referer')}}"><button type="button" class="btn btn-secondary return-button"><i class="bi bi-arrow-return-left mx-2"></i>Return</button></a>
            </div>
        </div>

        <div class="form-container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-success btn-lg" name="submit">Save</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}